*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(164, 157, 157);
}
div{
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

h1{
    background-color: rgb(68, 63, 63);
    letter-spacing: 5px;
    padding: 10px;
    color: white;
}

input{
    margin-top: 5%;
    width: 30%;
    padding: 10px;
    border: 5px outset black ;
    font-size: medium;
    word-spacing: 5px;
    letter-spacing: 3px;
}
button{
    margin-top: 2%;
    background-color: black;
    color: white;
    padding: 5px 20px;
    font-size: large;
    font-weight: bold;
    border: 1px dashed white;
    letter-spacing: 2px;
}

h2,p{
    letter-spacing: 2px;
    padding: 8px;
    font-weight: bold;
}

@media only screen and (max-width: 620px) {
    input {
        width: 80%;
    }
}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 18px;
    }

    button {
        font-size: medium;
    }
}


